{%extends "initial_base.html" %}
{% block content %}
<div>
    <div class="navigation">
    {% if initial_list.has_next %}
        <div><a href="?page={{ initial_list.next_page_number }}" >&laquo; Next Entries </a></div>												
    {% endif %}
    {%if initial_list.has_previous %}
        <div><a href="?page={{ initial_list.previous_page_number }}" >Previous Entries &raquo;</a></div>
    {% endif %}
    </div>
    <ul>
        {% for object in initial_list.object_list %}
        <li>
            <a href="{{ object.get_absolute_url }}">initial  {{ object.id }}</a>
        </li>
        {% endfor %}
    </ul>
    <div class="navigation">
    {% if initial_list.has_next %}
        <div><a href="?page={{ initial_list.next_page_number }}" >&laquo; Next Entries </a></div>												
    {% endif %}
    {%if initial_list.has_previous %}
        <div><a href="?page={{ initial_list.previous_page_number }}" >Previous Entries &raquo;</a></div>
    {% endif %}
    </div>
</div>
{% endblock content %}
