{%extends "semester_base.html" %}
{% block content %}
<div>
    
    <p>
        <span>program_id: </span>
        {{ semester.program_id }}
    </p> 
    
    <p>
        <span>year: </span>
        {{ semester.year }}
    </p> 
    
    <p>
        <span>season: </span>
        {{ semester.season }}
    </p> 
    
    <p>
        <span>place: </span>
        {{ semester.place }}
    </p> 
    
    <p>
        <span>info: </span>
        {{ semester.info }}
    </p> 
    
</div>
{% endblock content %}
