{%extends "member_base.html" %}
{% block content %}
<div>
    <div class="navigation">
    {% if member_list.has_next %}
        <div><a href="?page={{ member_list.next_page_number }}" >&laquo; Next Entries </a></div>												
    {% endif %}
    {%if member_list.has_previous %}
        <div><a href="?page={{ member_list.previous_page_number }}" >Previous Entries &raquo;</a></div>
    {% endif %}
    </div>
    <ul>
        {% for object in member_list.object_list %}
        <li>
            <a href="{{ object.get_absolute_url }}">member  {{ object.id }}</a>
        </li>
        {% endfor %}
    </ul>
    <div class="navigation">
    {% if member_list.has_next %}
        <div><a href="?page={{ member_list.next_page_number }}" >&laquo; Next Entries </a></div>												
    {% endif %}
    {%if member_list.has_previous %}
        <div><a href="?page={{ member_list.previous_page_number }}" >Previous Entries &raquo;</a></div>
    {% endif %}
    </div>
</div>
{% endblock content %}
