{% extends "layouts/right-col.html" %}

{% block HTML_HEAD %}
<title>NCTU 報名系統</title>
{% endblock %}

{% block CONTENT %}
    <h1>Sign In</h1>
    <form action="" method="post">
        {% csrf_token %}
        <ul>
            <li>
                <label for="username">Username</label>
                <input type="email" id="username" name='username'>
            </li>

            <li>
                <label for="password">Password</label>
                <input type="password" id="password" name='password'>
            </li>
        </ul>
        <div class="option-bar">
            <input type="submit" value="Sign In" class="right">
        </div>
    </form>

    <div class="signin-caption">
        <a href="{% url 'resetpw' %}" class="btn">Reset Password</a>
        <a href="{% url 'signup:signup' %}" class="btn">Register</a>
    </div>
{% endblock %}
